<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pigeoncat.comicstar.dao.mapper.ComicChapterMapper">


    <update id="allChapterNumGtNumSubtractOne" parameterType="java.lang.Integer">
        UPDATE comic_chapter
        SET chapter_num = chapter_num - 1
        WHERE chapter_num > #{chapterNum}
    </update>

    <update id="allPictureChapterNumGtNumSubtractOne" parameterType="java.lang.Integer">
        UPDATE comic_chapter_picture
        SET chapter_num = chapter_num - 1
        WHERE chapter_num > #{chapterNum}
    </update>


</mapper>
